<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>stock</title>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="/static/bootsrap.css">

</head>

<body class="main1">
  <!-- using ginger to apss variables from flask to html -->

  <!-- navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">IMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard">Dashbaord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/sales">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/inventory">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/inventory">Stock</a>
      </li>
    </ul>
  </nav>
  <!-- navbar end -->

  <!--Main container-->

  <div class="container mt-5 bg-primary" style="border: 1px black solid;">
    <div class="row align-items-center">

      <div class="col-lg-6 col-md-12">
        <h1>Track your Inventory</h1>
        <p>You can easily track your stock for these activities</p>
      </div>

      <div class="col-lg-6 col-md-12">
        <img src="/static/images/stock.jpg" class="img-fluid" alt="Stock photo">


      </div>

    </div>



  </div>



  <!--End of main container-->



  <script src="/static/bootsrap.js" type="text/javascript"></script>
</body>

</html>