{% extends "layout.html" %}
{%block title%}home {%endblock%}
 
{% block body%}
  <!-- navbar end -->

  <!--Main container-->

  <div class="container mt-5 bg-primary" style="border: 1px black solid;">
    <div class="row align-items-center">

      <div class="col-lg-6 col-md-12">
        <h1>Track your Inventory</h1>
        <p>You can easily track your stock for these activities</p>
      </div>

      <div class="col-lg-6 col-md-12">
        <img src="/static/images/stock.jpg" class="img-fluid" alt="Stock photo">


      </div>

    </div>
 <img src="/static/images/stock1-colord.jpg"  class="img-fluid" alt="stock2">


  </div>


  {% endblock %}